@use 'sass:map';
@use './variables' as *;
@use '../abstract/function' as *;
@use '../abstract/variables' as *;

:root {
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
}

// --- Resets ---
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  font-style: normal;
  padding: 0;
}

a {
  cursor: pointer;
}

button{
  background: transparent;
}

// --- Scrollbar ---
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 4px;
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: map.get($colors, primary);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: map.get($colors, secondary);
  }

}



@media only screen and (min-width: 1024px) {

}