// --- Colors ---
$colors: (
  primary: #FFFFFF,
  secondary: #CA9F3A,
  tertiary: #EBEBEB,
  quaternary: #22201E,
  quinary: #000000,
  senary: #1A1818,
  septenary: #E6E6E6,
  octonary: #383737,
  nonary: #CACACA,
  denary: #010610,
);

// --- Fonts ---
$primary-font: "Lora", serif;
$secondary-font: "Albert Sans", sans-serif;
$tertiary-font: "Lato", sans-serif;

$quaternary-font: "Montserrat", sans-serif;
$quinary-font: "Rethink Sans", sans-serif;
$senary-font: var(--font-lato), sans-serif;



