@use "sass:map";
@use '../abstract/variables' as *;

.site-main{
    color: #fff;
}

@media only screen and (min-width: 768px) {
   
}

@media only screen and (min-width: 992px) {
   
}

@media only screen and (min-width: 1024px) {

}                                                              